@mixin title {
  font-size: $title-size;
  font-weight: $title-weight;
  line-height: $title-line-height;
}

@mixin subtitle {
  font-size: $subtitle-size;
  font-weight: $subtitle-weight;
  line-height: $subtitle-line-height;
}

@mixin content-headline {
  font-size: $content-headline-size;
  font-weight: $content-headline-weight;
  line-height: $content-headline-line-height;
  color: $dark-green;
}

@mixin content-subtitle {
  font-size: $content-subtitle-size;
  font-weight: $content-subtitle-weight;
  line-height: $content-subtitle-line-height;
}

@mixin section-headline {
  font-size: $section-headline-size;
  font-weight: $section-headline-weight;
  line-height: $section-headline-line-height;
}

@mixin content {
  font-size: $content-size;
  font-weight: $content-weight;
  line-height: $content-line-height;
}
