// Colors
//-------------------------

$light-green: #2FC893;
$dark-green: #4E7868;
$dark-purple: #362D73;
$light-purple: #A09FBF;
$orange: #F25A38;

// Typography
//-------------------------

// Title
$title-size: 24px;
$title-weight: 900;
$title-line-height: normal;

// Subtitle
$subtitle-size: 18px;
$subtitle-weight: 400;
$subtitle-line-height: normal;

// Headline Content
$content-headline-size: 20px;
$content-headline-weight: 700;
$content-headline-line-height: normal;

// Subtitle Content
$content-subtitle-size: 16px;
$content-subtitle-weight: 500;
$content-subtitle-line-height: normal;

// Section Headline Content
$section-headline-size: 14px;
$section-headline-weight: 700;
$section-headline-line-height: normal;

// Mengentext
$content-size: 14px;
$content-weight: 400;
$content-line-height: 1.4;
